:root {
  --clr--blue: hsl(234, 25%, 52%);
  --clr-blue-dark: hsl(233, 54%, 16%);
  --clr-grey: hsl(232, 10%, 56%);
  --clr-pink: hsl(341, 92%, 62%);
  --clr-pink-light: hsl(341, 100%, 83%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gradient-pink: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  --clr-gradient-purple: linear-gradient(to bottom, hsl(237, 100%, 64%), hsl(322, 87%, 55%));

  --ff-base: "Plus Jakarta Sans", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800; 
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* General styling */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
  font-size: 1rem;
  color: var(--clr-grey);
  background-image: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  overflow-x: clip;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

header, footer {
  
}

@media (min-width: 600px) {
  header, footer {
    
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--fw-extra-bold);
  color: var(--clr-blue-dark);
  line-height: 1.2;
  margin-bottom: 26px;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--fw-extra-bold);
  line-height: 1.2;
  color: var(--clr-white);
}

@media (min-width: 600px) {
  h3 {
    padding-top: 35px;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--fw-extra-bold);
  color: var(--clr-blue-dark);
  margin-bottom: 1rem;
}

/* Buttons */

button {
  border: none;
  border-radius: 28px;
  font-weight: var(--fw-bold);
  font-size: 1rem;
  padding: 10px 24px;
  color: var(--clr-white);
  background-color: var(--clr-blue-dark);
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background-color: var(--clr--blue);
}

button.button-banner {
  background-image: var(--clr-gradient-pink);
  padding: 12px 28px;
  border-radius: 31.5px;
  margin-top: 26px;
  margin-bottom: 46px;

}

button.button-banner:hover {
  background-color: var(--clr-white);
  opacity: 0.5;
}

button.button-footer {
  background-image: var(--clr-gradient-purple);
}

button.button-footer:hover {
  background-color: var(--clr-white);
  opacity: 0.5;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  margin-top: 1rem;
}

header img {
  width: 89px;
}

@media (min-width: 600px) {
  header {
    margin-top: 1.5rem;
  }

}

@media (min-width: 900px) {
  header img {
    width: 111px;
  }
}

/* Banner area */

@media (min-width: 600px) {
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner-img {
    position: relative;
    height: 100%;
    width: 700px;
  }

  .banner-img img {
    position: absolute;
    top: -220px;
    right: -150px;
  }
}

@media (min-width: 900px) {
  .banner {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .banner-img {
    width: 1000px;
  }

  .banner-img img {
    top: -350px;
    right: -230px;
  }
}

/* Card section */
.cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  padding-bottom: 80px;
}

@media (min-width: 600px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card {
    flex: 1 1 300px;
    margin-top: 2rem;
  }
}

.card {
  background-color: var(--clr-white);
  border-radius: 10px;
  padding: 0px 28px 32px;
}

.card img {
  position: relative;
  top: -28px;
}

.card p {
  margin-bottom: 24px;
}

.card a {
  color: var(--clr-pink);
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  text-decoration: none;
}

.card a:hover {
  color: var(--clr-pink-light);
}

.card:first-child {
  background-image: var(--clr-gradient-pink);
  padding: 24px 28px;
}

/* Footer */

footer {
  background-color: var(--clr-blue-dark);
  padding-top: 42px;
  padding-bottom: 42px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 89px;
}

 